<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>管理 | MyBlog</title>


<!-- Bootstrap core CSS -->
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link type="text/css" rel="stylesheet" href="../static/css/public.css" th:href="@{/css/public.css}" />
<link type="text/css" rel="stylesheet" href="../static/css/admin.css" th:href="@{/css/admin.css}" />

<script src="../static/js/admin.js" th:href="@{/js/admin.js}"></script>

</head>
<body>
	<div class="head_line"></div>
	<div class="container" id="main">
				
		<div id="header">
			<div>
				<h2><a >MyBlog-管理</a></h2>
				<h5 class="text-muted">有点粗糙 但能用就行</h5>
				</div>		
		</div>
				 
<!--				 <div class="admin_div">-->
<!--				<h4 class="btn btn-default">统计</h4>-->
<!--				<h5> 被访问了 <span th:text="${session.sum_visit}">${visited}</span> 次</h5>-->
<!--				 <h5> 一共有 <span th:text="${session.visitor_count}">${member}</span> 个访问者</h5>-->
<!--				-->
<!--				</div>-->
				<div class="admin_div">
				<h4 class="btn btn-default">管理日志</h4>
				
<!--				<c:forEach var="a" items="${articles}">				-->
				<div class="list-group-item" th:each="article, stat:${articleList}">
						<span th:text="${article.getTitle()}">${a.title}</span>
						 <div class="r_div">	
						 <span th:text="${article.getTime()}">${a.time}</span>
						 
						 <a  th:href="'/edit/'+${article.id}">
						 <button class="btn btn-default" >&nbsp;<span class="glyphicon glyphicon-pencil" style="color:#5bc0de" >编辑</span>&nbsp;</button>
						 </a>

						 <button class="btn btn-default">&nbsp;
						 <span class="glyphicon glyphicon-trash" style="color:#d9534f" id="article_del_btn"> 删除</span>&nbsp;</button>
						 </div>										 
				</div>							
<!--				</c:forEach>					-->
				</div>
				
				<div class="admin_div">
				<h4 class="btn btn-default">管理分类</h4><h5 style="color:#d9534f" >删除分类会删除所有的文章</h5>
<!--				<c:forEach var="s" items="${sort}">				-->
				<div class="list-group-item" th:each="sort, stat:${sortList}">
						<input type="text"  class="sort" value="${s}" th:value="${sort.sort}"  disabled="disabled" style="border:0px;"  >
						 <div class="r_div">							
						 <button class="btn btn-default">&nbsp;<span class="glyphicon glyphicon-pencil" style="color:#5bc0de" onclick="edit_sort(this,'${s}')">编辑</span>&nbsp;</button>
						 <button class="btn btn-default">&nbsp;<span class="glyphicon glyphicon-trash" style="color:#d9534f" onclick="delet_sort(this,'${s}')">删除</span>&nbsp;</button>
						 </div>										 
				</div>							
<!--				</c:forEach>-->
				</div>
				
				<div class="admin_div">
				<h4 class="btn btn-default">管理标签</h4>
<!--				<c:forEach var="t" items="${tags}">				-->
				<div class="list-group-item" th:each="t, stat:${tagList}">
						<input type="text" class="tags"  value="${t.tag}"  th:value="${t.tag}" disabled="disabled"  style="border:0px">
						 <div class="r_div">	
						 <button class="btn btn-default">&nbsp;<span class="glyphicon glyphicon-pencil" style="color:#5bc0de" onclick="edit_tag(this,'${t.tag}')" >编辑</span>&nbsp;</button>
						 <button class="btn btn-default">&nbsp;<span class="glyphicon glyphicon-trash" style="color:#d9534f" onclick="delet_tag(this,'${t.tag}')">删除</span>&nbsp;</button>
						 </div>										 
				</div>							
<!--				</c:forEach>-->
				</div>

		<div class="foot_line"></div>		
		</div><!-- container -->

	<div id="footer">		
		<a href="#">&nbsp;&nbsp;MyBlog</a>	
	</div> 		
	
</body>
<script type="text/javascript">

</script>
</html>