<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>编辑文章 | MyBlog</title>


<!-- Bootstrap core CSS -->
<link	href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link type="text/css" rel="stylesheet"  th:href="@{/css/add.css}" />
<link rel="stylesheet"  th:href="@{/css/style.css}" />
<link rel="stylesheet"  th:href="@{/editormd/css/style.css}" />
<link rel="stylesheet"  th:href="@{/editormd/css/editormd.css}" />
 
<script  th:href="@{/editormd/js/zepto.min.js}" ></script>
<script  th:href="@{/editormd/js/editormd.js}" ></script>

<script  th:href="@{/js/add.js}" ></script>
</head>
<body>
	<div class="head_line"></div>
	<div class="container" id="main">		
				<div id="title"><h2><a>MyBlog</a></h2>
					</div>	
							
		   <form action="/Blog/UpdateServlet" method="post">
		   		
		   		<div class="info" >
		   		<!-- id -->
		   		<span class="help">id</span>
		   		<input type="text" class="form-control" name="id"  value="${edit_article.id}" disabled="disabled" th:value="${tArticle.id}">
		   		<!-- title -->
		   		<span class="help">标题</span>
		   		<input type="text" class="form-control" name="title"  value="${edit_article.title}" th:value="${tArticle.getTitle()}">
		   		<!-- time -->
		   		<span class="help">时间</span>
		   		<input type="text"  class="form-control" name="time" value="${edit_article.time}" th:value="${tArticle.time}">
		   		<!-- author-->
		   		<span class="help">作者</span>
		   		<input type="text" class="form-control" name="author" value="${edit_article.author}" th:value="${tArticle.getAuthor()}">
		   		<!-- sort --> 				
		   		<span class="help">分类</span><br/>

<!-- 				<input class="btn btn-default" type="button" value="${s.key}"  onclick="sort_click(this)"> &nbsp;-->
 				<input type="text" class="form-control"  id="sort" name="sort" value="${edit_article.sort}" th:value="${tArticle.getSort()}">
 				
				<!-- tag -->		
		   		<span class="help">标签</span><br/>
		   		<div th:each="tag :${tTagList}">
		   		<input class="btn btn-default" type="button" th:value="${tag.tag}" onclick="tags_click(this)">&nbsp;
		   		</div>
		   		<input type="text" class="form-control" id="tags"  name="tags" >	
		   		</div>   		
		   		
		   		
		   		<div class="foot_line"></div>
		   		<!-- content -->   
                <div class="editormd" id="mdView">                
                    <textarea name="content" th:utext="${tArticle.content}"></textarea>
                </div>
                <br/>
                <input  class="btn btn-default"  type="submit"   value="提交" />
            </form>
		
		<div class="foot_line"></div>
			<!-- container -->
		</div><!-- container -->
	
		<div id="footer">
		<a href="#">&nbsp;&nbsp;MyBlog</a>
		
	</div> <!-- footer -->		
		
	<script type="text/javascript">
		var testEditor;
		var jQuery = Zepto;
		$(function() {
			testEditor = editormd("mdView", {
				width  : "90%",
				height : 720,
				path   : '/editormd/lib/',
				codeFold : true,
				searchReplace : true,
				saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
				htmlDecode : "style,script,iframe|on*", // 开启 HTML 标签解析，为了安全性，默认不开启
				emoji : true,
				taskList : true,
				tocm: true,
				tex : true,
				flowChart : true,
				sequenceDiagram : true,
				imageUpload : true,
				imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
				imageUploadURL : "/Blog/UploadPic",
				//后台只需要返回一个 JSON 数据
				onload : function() {
					//console.log("onload =>", this, this.id, this.settings);
				}
			});
			editor.setToolbarAutoFixed(false);//工具栏自动固定定位的开启与禁用
		});
        </script>	
	
</body>
</html>